<section id="view-user-redflags" class="section-manage-content" style="display: block;">
  <div class="grid-box-container">
    <ul>
      <li>
        <div class="grid-item-thumbnail-wrapper"><img class="grid-item-thumbnail" src="images/intervention.png"></div>
      </li>
      <li>Incident Id: <span>44</span></li>
      <li>Title: <span>redflag one</span></li>
      <li>Incident Type: <span>redflags</span></li>
      <li>Date: <span>Fri, 28 Jun 2019 06:57:01 GMT</span></li>
      <li>Status: <span>pending investigation</span></li>
      <li>
        <div class="buttons-sowa"><button class="view-report-btn" id="but"
            onclick="getUserIncidentById( 'red-flags', 44)">View </button></div>
      </li>
    </ul>
  </div>
  <div class="grid-box-container">
    <ul>
      <li>
        <div class="grid-item-thumbnail-wrapper"><img class="grid-item-thumbnail" src="images/intervention.png"></div>
      </li>
      <li>Incident Id: <span>45</span></li>
      <li>Title: <span>redflag two</span></li>
      <li>Incident Type: <span>redflags</span></li>
      <li>Date: <span>Fri, 28 Jun 2019 06:57:57 GMT</span></li>
      <li>Status: <span>pending investigation</span></li>
      <li>
        <div class="buttons-sowa"><button class="view-report-btn" id="but"
            onclick="getUserIncidentById( 'red-flags', 45)">View </button></div>
      </li>
    </ul>
  </div>
</section>